*{
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif;
}
nav{
   position:fixed;
   top:0;
   right:0;
   z-index:1;
   mix-blend-mode:difference;
}
nav ul{
    display:flex;
    list-style:none;
    gap: 20px;
}
nav a{
    display:block;
    font-size:1.5em;
    padding:20px 25px;
    text-decoration:none;
    background-color:white;
    color:crimson;
    transition:padding-top 0.9s;
    
}
nav a:hover{
    padding-top:50px;
}
section{
    height:100vh;
    background-color:crimson;
    position:relative;
}
section:nth-child(odd){
    background-color:white;
}
h2{
    color:white;
    font-weight:normal;
    font-size:8em;
    text-transform:uppercase;
    position:absolute;
    left:50px;
    bottom:50px;
}
section:nth-child(odd) h2{
    color:crimson;
}

